In [18]:
# การบ้าน sprint นี้มี 4 ข้อนะครับ ทำเสร็จแล้วอัพโหลดขึ้น github แชร์ลิ้งได้ใน #discord #python นะครับ

## HW1 : เขียนเกมเป้ายิ้งฉุยด้วย Python

In [1]:
# set up
import random
player_score = {
    'win' : 0,
    'lose' :0,
    'draw' : 0
}

# rock << paper << scissors << rock
# 1 << 2 << 3 << 1
choice_map = {}
choice_map[1] = 'rock'
choice_map[2] = 'paper'
choice_map[3] = 'scissors'

choice_map['rock'] = 1
choice_map['paper'] = 2
choice_map['scissors'] = 3

def play() :
    while(1) :
        player_input = input("pick rock/paper/scissors")
        if (player_input in choice_map) and (player_input>"3"):
            player_choice_int = choice_map[player_input]
            player_choice = player_input
            break
        else :
            print("try again")
            continue
    machine_choice_int = random.randint(1,3)
    machine_choice = choice_map[machine_choice_int]
    print("You picked :",player_choice)
    print("I picked :", machine_choice)

    if (player_choice_int == machine_choice_int) :
        print("Draw")
        player_score['draw'] +=1
    elif (player_choice_int +1 == machine_choice_int) or (player_choice_int==3 and machine_choice_int==1) :
        print("you lose")
        player_score['lose'] +=1
    else :
        print("you win")
        player_score['win'] +=1

def games() :
    name = input("input your name")
    while(input("Wanna play? (y/n)") == 'y') :
        play()
    for k in player_score :
        print(name, "had", k, player_score[k], "time"+ ("s" if player_score[k]>1 else ""))

In [2]:
# run this cell to play
games()

You picked : rock
I picked : rock
Draw
You picked : paper
I picked : paper
Draw
You picked : scissors
I picked : scissors
Draw
You picked : rock
I picked : paper
you lose
neen had win 0 time
neen had lose 1 time
neen had draw 3 times

## HW2 : เขียน class ATM มีอย่างน้อย 5 methods

In [4]:
import random
class ATM :
    def __init__(self, name, bank) :
        self.name = name
        self.bank = bank
        self.balance = 0
    
    def Deposit(self,money) :
        if (money<0) :
            print("!!!! money should be more than 0")
            return
        self.balance += money
        print(">>>> Your balance is", self.balance)

    def Withdraw(self,money) :
        if (money<0) :
            print("!!!! money should be more than 0")
            return
        if(money > self.balance) :
            print("!!!! not enough money")
        else :
            self.balance -= money
            print(">>>> Your balance is", self.balance)
    
    def transfer(self,money, targetBankNumber) :
        if (money<0) :
            print("!!!! money should be more than 0")
            return
        if(money > self.balance) :
            print("!!!! not enough money")
        else :
            self.balance -= money
            print(">>>> You had transfer", money, "bath to", targetBankNumber)
    
    def Interest(self) :
        print(">>>> You has a yearly interest", 0.05*self.balance)
        self.balance = 1.05*self.balance
        print(">>>> Your balance is", self.balance)
    
    def OTP(self) :
        otp = random.random()
        otp = int((otp*10**6) // 1)
        print(">>>> your OTP is", otp, "(dont share!)")

In [13]:
name = input("type your name")
bank = input("which bank you want to open account with?")
b1 = ATM(name, bank)

while(1) :
    print("choose the services (1-6)")
    print("1. Deposit")
    print("2. Withdraw")
    print("3. Transfer")
    print("4. Interest")
    print("5. OTP")
    print("6. exit")
    op = int(input())

    try :
        if(op==1) :
            money = int(input("insert the money : "))
            b1.Deposit(money)
        elif(op==2) :
            money = int(input("insert the money : "))
            b1.Withdraw(money)
        elif(op==3) :
            money = int(input("insert the money : "))
            bank = input("insert the target bank number : ")
            b1.transfer(money,bank)
        elif(op==4) :
            b1.Interest()
        elif(op==5) :
            b1.OTP()
        elif(op==6) :
            break
        else :
            print(">>>> try again")
    except :
        print(">>>> try again")

choose the services (1-6)
1. Deposit
2. Withdraw
3. Transfer
4. Interest
5. OTP
6. exit
You had transfer 1234 bath to 5
choose the services (1-6)
1. Deposit
2. Withdraw
3. Transfer
4. Interest
5. OTP
6. exit
Your balance is -1233
choose the services (1-6)
1. Deposit
2. Withdraw
3. Transfer
4. Interest
5. OTP
6. exit

## HW3 :

In [4]:
import requests
from gazpacho import Soup
import time
import pandas as pd

df = pd.DataFrame()


url = f"https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"
res = requests.get(url)

html = Soup(res.text)

In [40]:
title = html.find("h3", {"class":"lister-item-header"})
title = [x.strip() for x in title]

rating = html.find("div", {"class":"ratings-imdb-rating"})
rating  = [float(x.strip()) for x in rating]

year = [x[x.find("(")+1 : x.find(")")] for x in title]
for i in range(len(year)) :
    if(len(year[i]) < 4) :
        st, ed = 0,0
        while(1) :
            st = title[i].find("(", st+1)
            ed = title[i].find(")", ed+1)
            if(st==-1 or ed==-1) :
                break
            year[i] = title[i][st+1 : ed]

clean_title = [x.split("(")[0] for x in title]
clean_title = [x.split(". ")[1] for x in clean_title]

In [41]:
df = pd.DataFrame( data = 
    {
        "title" : clean_title,
        "rating" : rating,
        "launched year" : year
    }
)
df

                                                title  rating launched year
0                           The Shawshank Redemption      9.3          1994
1                                      The Godfather      9.2          1972
2                                    The Dark Knight      9.0          2008
3                                   Schindler's List      9.0          1993
4      The Lord of the Rings: The Return of the King      9.0          2003
5                                       12 Angry Men      9.0          1957
6                              The Godfather Part II      9.0          1974
7                                       Pulp Fiction      8.9          1994
8                                         Fight Club      8.8          1999
9                                          Inception      8.8          2010
10  The Lord of the Rings: The Fellowship of the R...     8.8          2001
11                                      Forrest Gump      8.8          1994
12                   Il buono, il brutto, il cattivo      8.8          1966
13             The Lord of the Rings: The Two Towers      8.8          2002
14               Spider-Man: Across the Spider-Verse      8.7          2023
15                                      Interstellar      8.7          2014
16                                        Goodfellas      8.7          1990
17                                        The Matrix      8.7          1999
18                   One Flew Over the Cuckoo's Nest      8.7          1975
19    Star Wars: Episode V - The Empire Strikes Back      8.7          1980
20                          The Silence of the Lambs      8.6          1991
21                                             Se7en      8.6          1995
22                               Saving Private Ryan      8.6          1998
23                                         Star Wars      8.6          1977
24                                    The Green Mile      8.6          1999
25                        Terminator 2: Judgment Day      8.6          1991
26                     Sen to Chihiro no kamikakushi      8.6          2001
27                                    Cidade de Deus      8.6          2002
28                                   La vita è bella      8.6          1997
29                             It's a Wonderful Life      8.6          1946
30                              Shichinin no samurai      8.6          1954
31                                           Seppuku      8.6          1962
32                                       Oppenheimer      8.5          2023
33                                             Alien      8.5          1979
34                                         Gladiator      8.5          2000
35                                      The Departed      8.5          2006
36                                      Gisaengchung      8.5          2019
37                                      The Prestige      8.5          2006
38                                Back to the Future      8.5          1985
39                                          Whiplash      8.5          2014
40                                  Django Unchained      8.5          2012
41                                            Psycho      8.5          1960
42                                              Léon      8.5          1994
43                                The Usual Suspects      8.5          1995
44                                     The Lion King      8.5          1994
45                                American History X      8.5          1998
46                                       The Pianist      8.5          2002
47                                  The Intouchables      8.5          2011
48                                        Casablanca      8.5          1942
49                                       Rear Window      8.5          1954

## HW4 : เขียนโค้ดดึง public API + ใช้ requests และ time.sleep

In [13]:
import requests
import time
import pandas as pd

df = pd.DataFrame()

for i in range(15) :
    url = f"https://pokeapi.co/api/v2/pokemon/{i+1}"

    res = requests.get(url)
    if(res.status_code == 200) :
        data = res.json() 
        dff = pd.DataFrame.from_records(
            [
            {
            "id" : i+1,
            "name" : data['name'],
            "weight" : data['weight'], 
            "height" : data['height'],
            "abilities" : data['abilities'][0]['ability']['name'], 
            }
            ], index = "id"
        )
        df = pd.concat([df, dff])
        time.sleep(1)

In [14]:
df

          name  weight  height      abilities
id
1    bulbasaur      69       7       overgrow
2      ivysaur     130      10       overgrow
3     venusaur    1000      20       overgrow
4   charmander      85       6          blaze
5   charmeleon     190      11          blaze
6    charizard     905      17          blaze
7     squirtle      90       5        torrent
8    wartortle     225      10        torrent
9    blastoise     855      16        torrent
10    caterpie      29       3    shield-dust
11     metapod      99       7      shed-skin
12  butterfree     320      11  compound-eyes
13      weedle      32       3    shield-dust
14      kakuna     100       6      shed-skin
15    beedrill     295      10          swarm